.deploying-democracy-bg {
    background-image: url("/static/images/deploying-democracy.gif");
    background-repeat: no-repeat;
  }

  .explore-bg {
    background-image: url("/static/images/home.jpeg");
    background-repeat: no-repeat;
  }
